@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap');

/* Custom global styles */
@layer base {
  html, body {
    font-family: Tahoma, Geneva, sans-serif !important;
    background-color: #f07db8 !important;
    padding: 12px;
  }
  
  * {
    font-family: Tahoma, Geneva, sans-serif !important;
  }
  
  #root {
    background-color: #f7dae9;
    border-radius: 24px;
    overflow: hidden;
    box-shadow: 0 25px 50px -12px rgba(125, 27, 78, 0.25);
    min-height: calc(100vh - 24px);
  }
  
}
